<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.logos.mvp.logosswipe" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".UI.Activities.ProblemsChoiceActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UI.Activities.ValuesChoiceActivity"
            android:label="@string/title_activity_values_choice"
            android:parentActivityName=".UI.Activities.ProblemsChoiceActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UI.Activities.ProblemsChoiceActivity" />
        </activity>
        <activity
            android:name=".UI.Activities.ValuesRankActivity"
            android:label="@string/title_activity_values_rank" >
        </activity>
        <activity
            android:name=".UI.Activities.SolutionsChoiceActivity"
            android:label="@string/title_activity_solutions_choice" >
        </activity>
    </application>

</manifest>
